---
title: Radar
layout: radar
---
<head>
  <link href="main.719059a0f7a50dcd153e.css" rel="stylesheet">
  <link href="newStyle.css" rel="stylesheet">
  <link href="styleMenuMaximized.css" rel="stylesheet">
</head><body>

  <main class="page-single-card">

    <div class="container">
      <div class="child radarr">
        <radar></radar>
      </div>

      <div class="child techs">
        <div class="techniques">
          <input type="checkbox" id="A"></input>
          <label for="A">Thechniques</label>
          <ul>
            <div class="drop-down">
            {% for item in site.techniques %}
              <li class="itemm triggerOpenModal" data-modal="modal-{{item.filename}}" > {{item.number}} - {{item.name}}</li>
            {% endfor %}
            </div>
          </ul>
        </div>

        <div class="tools">
          <input type="checkbox" id="B"></input>
          <label for="B">Tools</label>
          <ul>
            <div class="drop-down">
            {% for item in site.tools %}
              <li class="itemm triggerOpenModal" data-modal="modal-{{item.filename}}"> {{item.number}} - {{item.name}}</li>
            {% endfor %}
            </div>
          </ul>
        </div>

        <div class="frameworks">
          <input type="checkbox" id="C"></input>
          <label for="C">Frameworks</label>
          <ul>
            <div class="drop-down">
              {% for item in site.languages-frameworks %}
                <li class="itemm triggerOpenModal" data-modal="modal-{{item.filename}}"> {{item.number}} - {{item.name}}</li>
              {% endfor %}
            </div>
          </ul>
        </div>

        <div class="platforms">
          <input type="checkbox" id="D"></input>
          <label for="D">Platforms</label>
          <ul>
            <div class="drop-down">
            {% for item in site.platforms %}
              <li class="itemm triggerOpenModal" data-modal="modal-{{item.filename}}"> {{item.number}} - {{item.name}}</li>
            {% endfor %}
          </div>
          </ul>
        </div>


      </div>
    </div>

  </main>

    <div class="page-modals" id="pageModals" tabindex="-1" role="dialog" aria-hidden="true">
      <div id="pageModalsOverlayer"></div>

      {% for item in site.techniques %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

      {% for item in site.languages-frameworks %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

      {% for item in site.tools %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

      {% for item in site.platforms %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

    </div>

    
  <script type="text/javascript" src="newScript.js"></script>
  <script type="text/javascript" src="main.719059a0f7a50dcd153e.js"></script></body>